spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
  cloud:
    gcp:
      core:
        enabled: false
      storage:
        enabled: false
      credentials:
        encoded-key: "placeholder"
  main:
    banner-mode: off
  h2:
    console:
      enabled: true
      path: /h2-console